<footer class="blog-footer">
      <p>Powered & Designed by <a target="_blank" href="http://github.com/TankCJZ/TP5CMS">TP5CMS</a></p>
      <p><a href="#">TOP</a></p>
    </footer>

    <script src="__STATIC__js/jquery-2.1.4.min.js"></script>
    <script src="__STATIC__js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="__STATIC__js/ie10-viewport-bug-workaround.js"></script>
    <script src="__STATIC__js/page.js"></script>
    <!-- 提高页面加载速度 -->
    <script src="__STATIC__js/instantclick/instantclick.min.js"></script>
    <script data-no-instant>InstantClick.init();</script>