{include file='public/header' title='网站首页-管理员组管理'}
<link href="__PUBLIC__css/dataTables.bootstrap.css" rel="stylesheet">
<link href="__PUBLIC__js/tree/themes/default/style.min.css" rel="stylesheet">
<body>
    <!-- 头部 -->
    {include file="public/header_min"}
    <!-- /头部 -->
    <div class="main-container container-fluid">
        <div class="page-container">
            <!-- Page Sidebar -->
            {include file="public/slidebar"}
            <!-- /Page Sidebar -->
            <!-- Page Content -->
            <div class="page-content">

                <!-- Page Breadcrumb -->
                <div class="page-breadcrumbs">
                    <ul class="breadcrumb">
                        <li>
                            <i class="fa fa-home"></i>
                            <a href="{url('Group/index')}">管理员组管理</a>
                        </li>
                        <li class="active">管理员组列表</li>
                    </ul>
                </div>
                <!-- /Page Breadcrumb -->
                <!-- Page Header -->
                <div class="page-header position-relative">
                    <div class="header-title">
                        <h1>
                            管理员组管理
                        </h1>
                    </div>
                    <!--Header Buttons-->
                    <div class="header-buttons">
                        <a class="sidebar-toggler" href="#">
                            <i class="fa fa-arrows-h"></i>
                        </a>
                        <a class="refresh" id="refresh-toggler" href="">
                            <i class="glyphicon glyphicon-refresh"></i>
                        </a>
                        <a class="fullscreen active" id="fullscreen-toggler" href="#">
                            <i class="glyphicon glyphicon-fullscreen"></i>
                        </a>
                    </div>
                    <!--Header Buttons End-->
                </div>
                <!-- /Page Header -->
                <!-- Page Body -->
                <div class="page-body">
                    <div class="row">
                        <div class="col-xs-12 col-md-12">
                            <div class="widget">
                                <div class="widget-header ">
                                    <span class="widget-caption">管理员组管理</span>
                                </div>
                                <div class="widget-body">
                                    <form method="post" id="group-sort-form">
                                        <div class="table-toolbar">
                                            <div class="btn-group">
                                                <a href="javascript:;" class="btn btn-default group_add"><i class="fa fa-plus"></i>添加管理员组</a>
                                                <a href="javascript:;" class="btn btn-default group_sort"><i class="fa fa-refresh"></i>更新排序</a>
                                            </div>
                                            
                                            <div class="btn-group pull-right">
                                                
                                            </div>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table table-striped table-hover table-bordered" id="editabledatatable">
                                                <thead>
                                                    <tr role="row">
                                                        <th class="col-xs-1">
                                                            ID
                                                        </th>
                                                        <th class="col-xs-1">
                                                            排序
                                                        </th>
                                                        <th>
                                                            名称
                                                        </th>
                                                        <th class="col-xs-1">
                                                            状态
                                                        </th>
                                                        <th class="col-xs-3">
                                                            操作
                                                        </th>
                                                    </tr>
                                                </thead>

                                                <tbody>
                                                
                                                </tbody>
                                            </table>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <!-- /Page Body -->
        </div>
        <!-- /Page Content -->
        <!-- /add Rule Model -->
        <div id="addGroupModel" style="display:none;">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-horizontal" id="add-group-form">
                        <div class="form-group">
                            <label for="title" class="col-sm-3 control-label text-center">组名称</label>
                            <div class="col-sm-8">
                                <input value="" type="text" placeholder="如：超级管理员" name="title" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label text-center">是否启用</label>
                            <div class="col-sm-8">
                                <div class="radio inline-block">
                                    <label>
                                        <input name="status" value="1" type="radio" checked>
                                        <span class="text">启用</span>
                                    </label>
                                </div>
                                <div class="radio inline-block">
                                    <label>
                                        <input name="status" value="0" type="radio">
                                        <span class="text">禁用</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label text-center">排序</label>
                            <div class="col-sm-8">
                                <input type="number" name="sort" value="50" class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success add-group-btn">添加</button>
                </div>
            </div>
        </div>
        <!-- /edit group Model -->
        <div id="editGroupModel" style="display:none;">
            <div class="modal-content">
                <div class="modal-body">
                    <form class="form-horizontal" id="edit-group-form">
                        <div class="form-group">
                            <label for="title" class="col-sm-3 control-label text-center">组名称</label>
                            <div class="col-sm-8">
                                <input value="" id="title" type="text" name="title" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label text-center">是否启用</label>
                            <div class="col-sm-8">
                                <div class="radio inline-block">
                                    <label>
                                        <input class="checked" name="status" value="1" type="radio" checked>
                                        <span class="text">启用</span>
                                    </label>
                                </div>
                                <div class="radio inline-block">
                                    <label>
                                        <input class="unchecked" name="status" value="0" type="radio">
                                        <span class="text">禁用</span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label text-center">排序</label>
                            <div class="col-sm-8">
                                <input type="number" id="sort" name="sort" value="" class="form-control">
                            </div>
                        </div>
                        <input type="hidden" id="group_id" name="id" value="">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success edit-group-btn">修改</button>
                </div>
            </div>
        </div>
        <!-- /配置权限 -->
        <div id="setRule" style="display:none;">
            <div class="modal-content">
                <div class="modal-body" style="height:300px;">
                    <div id="ruleTree" style="overflow: auto;height:100%;">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success setRule-btn">确定</button>
                </div>
                <input type="hidden" class="group_id" value="">
            </div>
        </div>
    </div>
    </div>
    {include file='public/footer'}
    <script src="__PUBLIC__js/datatable/jquery.dataTables.min.js"></script>
    <script src="__PUBLIC__js/datatable/dataTables.bootstrap.min.js"></script>
    <script src="__PUBLIC__js/tree/jstree.min.js"></script>
    <script src="__PUBLIC__js/group/group.table.js"></script>
</body>
</html>